/* Resetando margens e preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #0d214f; /* cor de fundo suave */
    color: #333; /* cor de texto padrão */
    display: flex;
    justify-content: flex-start; /* Inicia o conteúdo da parte inferior da tela */
    align-items: flex-start; /* Faz o conteúdo começar do topo, mas abaixo do centro */
    height: 100vh;
    flex-direction: column;
    padding: 0 15px;
    overflow-x: hidden; /* Garante que não haja rolagem horizontal */
}

/* Ajustando o conteúdo para começar no meio da tela */
.main-content {
    margin-top: 10%; /* Começa o conteúdo a partir de 10% da altura da tela */
    width: 100%;
}

/* Estilo do título */
h1 {
    font-size: 2.5rem;
    color: #4169E1; /* Azul Royal */
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}

label{
    color: #fff;
}

/* Estilo do campo de busca */
#responsavel, #escola {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #4169E1; /* Azul Royal */
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

#responsavel:focus, #escola:focus {
    border-color: #FFD700; /* Dourado */
    outline: none;
}

/* Cards container */
#responsaveis-list {
    width: 100%;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    max-width: 90%; /* Limita a largura dos cards */
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.25rem;
    color: #4169E1;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 8px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    #responsavel, #escola {
        font-size: 0.9rem;  /* Ajuste o tamanho da fonte para telas pequenas */
        padding: 10px;
        margin-bottom: 15px;
    }

    .card {
        padding: 12px;
    }

    #responsaveis-list {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }

    #responsavel, #escola {
        font-size: 0.9rem;
        padding: 10px;
    }

    .card {
        padding: 10px;
    }

    #responsaveis-list {
        margin-top: 5px;
    }
}

@media (max-width: 450px) {
    body {
        padding-top: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }
}
